.contacto {
    font-family: Montserrat, sans-serif;
    height: 120vh;
    width: 100%;
    display: flex;
    color: rgb(146,38,51);
}

@media (max-width: 1000px) and (min-width: 576px) {
    .contacto {
      height: 70vh;
      margin-top: 5vh; 
    }
  }

  @media (max-width: 576px) and (min-width: 400px) {
    .contacto {
      height: 150vh;
    }
  }
  
  @media (max-width: 400px) {
    .contacto {
      height: 160vh;
    }
  }
  

.contacto a {
    color: #000;
    text-decoration: none;
}

.contacto a:hover {
    color: rgb(146,38,51);
}


  .ubi:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: 500ms;
  }