@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.elsa {
    font-family: Raleway, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    /* Modifica el tamaño vh en pantallas más pequeñas */
    .elsa {
      height: 280vh; /* Ajusta este valor según sea necesario */
    }
  }
  
  @media (max-width: 576px) {
    /* Modifica el tamaño vh en pantallas aún más pequeñas */
    .elsa {
      height: 320vh; /* Ajusta este valor según sea necesario */
    }
  }
  
.elsa .elsa2 {
    margin-top: 15vh;
}

.elsa h2 {
    color: rgb(146,38,51);
}

.elsa img {
    border-top: 5px solid rgb(146,38,51);
    border-right: 5px solid rgb(247,189,29);
    border-bottom: 5px solid rgb(247,189,29);
    border-left: 5px solid rgb(146,38,51);
}