@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.galeria {
    font-family: Montserrat, sans-serif;
    margin-bottom: 20vh;
}

@media (max-width: 1000px) and (min-width: 576px) {
    .galeria {
        margin-bottom: 5vh;
    }
  }

@media (max-width: 576px) {
    .galeria {
      height: 35vh;
      margin-bottom: 25vh;
    }
  }
  

.galeria h2 {
    color: rgb(146,38,51);

}

.carousel-inner img {
    max-height: 100vh;
}