@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.galeria {
    font-family: Montserrat, sans-serif;
    margin-bottom: 5vh;
}


.galeria h2 {
    color: rgb(146,38,51);

}

.carousel-inner img {
    max-height: 100vh;
}