@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.inicio {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    background-color: rgb(0,0,0,0.5);
    color: #fff;
    height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
  .inicio:before {
    content: "";
    position: absolute;
   
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
  
  }
