@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.inicio {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255);
    color: rgb(146, 38, 51);
    height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .inicio {
      height: 80vh;
    }
  }

  
.btn {
    color: rgb(146, 38, 51);
    background-color: rgb(146, 38, 51);

  }
