.floating-whatsapp-button {
    margin-right: 14vh;
}

@media (max-width: 768px) {
    .scroll-to-top {
        margin-bottom: 12vh;
    }
    .floating-whatsapp-button {
        margin-right: 0vh;
    }
}